source https://api.nuget.org/v3/index.json

storage: none
framework: net9.0

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Feliz
nuget Feliz.Bulma
nuget Fable.Promise
nuget Fable.Fetch
nuget Thoth.Json
nuget FSharpPlus